h1{
    text-align:center;
    font-size:90px;
    font-family: 'Monoton', cursive;
    border:solid;
    border-radius:0px;
    border-color: red;
 
}
body{
    background-color:red;
    background-image:url("https://img00.deviantart.net/3720/i/2010/008/0/8/horus___wide_by_ingostan.jpg");
    
 
}
input#search {
    border:3px;
    font-family: "Times New Roman";
    border-radius:50px;
    padding: 0 20px;
    text-align: left;
}

input#search::placeholder{
  font-size: 20px;
  /*text-align:center;*/
}

span{
    font-size:15px;

}
p{
    font-size:30px;
    color: brown;
}
#shop{
    float:right;
}
li{
    text-align:center;
}
#cart{
    color:green;
    
}
#office{
   color: red;
   border:solid;
}
input, button{
    font-size:30px;
    float:right;
}
ul{
    float:right;
}
    

#movies{
    display:flex;
    flex-wrap:wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.movie-items{
    textenter
    max-width: 200px;
    margin: 10px;
}

.movie-items img {
    text-align:center;
    display: block;
    max-width: 100%;
    height: auto;
}

#movieModal{
    border: solid;
}